{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="wrapper" class="wrapper {{ btn_style }} {{ site_layout }} {{ header_style }} {{ page_title_style }} {{ color_scheme }}">
<div class="layout-wrap {{ sticky_header }}">
	{% include '@willnice/layout/header.html.twig' %}

	{% if page.content_wide_top %}
	<!-- Start content top -->
	<section id="content-wide-top" class="content-wide">        
		{{ page.content_wide_top }}
	</section>
	<!-- End content top -->
	{% endif %}

	<!-- layout -->
	<section id="page-wrapper" class="page-wrapper">

	  <div class="container">
		  <!--- Start content -->
			<div class="content-layout">
				<div class="error-404 text-middle text-center">
					<div class="row">
					<div class="col-12">
					<div class="error-404-number">404</div>
					</div>
					<div class="col-12">
					<div class="text-center">
					<h2 class="text-medium">{% trans %}Sorry, This Page Could Not Be Found!{% endtrans %}</h2>
					<p>{% trans %}The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.{% endtrans %}</p>
					<a class="button" href="{{ front_page }}">{% trans %}Go Back to Homepage{% endtrans %}</a>
					</div>
					</div>
					</div>
				</div>
			</div>
		  <!---End content -->
	  </div>

	</section>
	<!-- End layout -->

	{% if page.content_wide %}
	<!-- Start content wide -->
	<section id="content-wide" class="content-wide">        
		{{ page.content_wide }}
	</section>
	<!-- End content wide -->
	{% endif %}
	
	{% if page.content_widget_first or page.content_widget_second or page.content_widget_third %}
	  <!-- start Content Widget -->
	  <section class="content-widget">
		<div class="container">
			<div class="row">
			{% if page.content_widget_first %}
			<!-- Start Content Widget First Region -->
			<div class="{{ widgetfirstcol }} content-widget-section">
				{{ page.content_widget_first }}
			</div>
			<!-- End Content Widget First Region -->
			{% endif %}

			{% if page.content_widget_second %}
			<!-- Start Content Widget Second Region -->
			<div class="{{ widgetsecondcol }} content-widget-section">
				{{ page.content_widget_second }}
			</div>
			<!-- End Content Widget Second Region -->
			{% endif %}

			{% if page.content_widget_third %}
			<!-- Start Content Widget Third Region -->
			<div class="{{ widgetthirdcol }} content-widget-section">
				{{ page.content_widget_third }}
			</div>
			<!-- End Content Widget Third Region -->
			{% endif %}		
			</div>
		</div>
	  </section>
	  <!--End Content Widget -->
	{% endif %}

{% include '@willnice/layout/footer.html.twig' %}

</div>
</div>
{% if preloader %}
<div class="preloader">
	<div class="preloader-spinner"></div>
</div>
{% endif %}